@import '../../styles/partials/variables';
@import "../../styles/partials/mixins";

.rating {
	position: absolute;
	bottom: 20%;
	left: 0;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	width: calc(100% - 1rem);
	@include breakpoint(mobile, max)  {
		width: calc(100% - .4rem);
	}
	&_icon {
		background-color: $white;
		color: $black;
		border-radius: 50%;
		width: 2.25rem;
		height: 2.25rem;
		line-height: 2.25rem;
		text-align: center;
		transform: translateY(-50%);
		top: 50%;
		font-size: $font-size-middle;
		position: relative;
		margin: 0 .5rem;
		cursor: pointer;
		&:hover,
		&.active {
			background-color: $gray-600;
		}
	}
}
[class^="card"] {
	.rating {
		width: calc(100% - 3rem);
		justify-content: flex-end;
		top: calc(100% + 3rem);
		@include breakpoint(mobile, max) {
			top: calc(100% - 1rem);
		}
		&_icon {
			border: 1px solid $gray-650;
			color: $gray-650;
			&:hover,
			&.active {
				color: $black;
			}
		}
	}
}
