// Colors
$white: #fff !default;
$gray-100: #F6F6F8 !default;
$gray-50: #FAF7F4 !default;
$gray-150: #F6F6F8 !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-550: #808080 !default;
$gray-600: #CEC6C3 !default;
$gray-650: #CCC7B9 !default;
$gray-700: #979797 !default;
//$gray-600: #6c757d !default;
//$gray-700: #495057 !default;
//$gray-800: #343a40 !default;
$gray-900: #3A4047 !default;
$black: #000 !default;
$black-transparent: rgba(0, 0, 0, 0.5) !default;
$brown: #DEC79B !default;
$border-color: #E9E4D7;
$shadow: rgba(0, 0, 0, 0.25) !default;
$background-transparent: rgba(246,246,248,.9) !default;
$inactive-color: rgba(58, 64, 71, 0.5) !default;
$yellow: #FFF500 !default;
$rose: #FA695C !default;



// Typography
$font-family-main: 'Actor', sans-serif !default;
$font-family-base: $font-family-main !default;

$font-size-base: 1rem !default;
$font-size-middle: 1.5rem !default;
$font-size-large: 2rem !default;
$font-size-table: .9rem !default;
$font-size-header: 2.375rem !default;
$font-size-footer: 0.75rem !default;
$font-size-small: 1.375rem !default;

$header-padding: 2.125rem !default;

$line-height-base: 1.5 !default;

$font-weight-light: 300 !default;
$font-weight-normal: 400 !default;
$font-weight-strong: 500 !default;
$font-weight-bold: 700 !default;

$font-weight-base: $font-weight-normal !default;

// Main Styles
$body-bg: $gray-50 !default;
$text-color: $gray-900 !default;
