@import '../../styles/partials/variables';
@import "../../styles/partials/mixins";

.footer {
	background-color: $gray-600;
	color: $gray-900;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	flex-direction: column;
	font-size: $font-size-footer;
	height: 9rem;
	flex-shrink: 0;

	//position: -webkit-sticky;
	position: relative;
	//bottom: 0;
	//width: 100%;
	@include breakpoint(laptop, max) {
		height: 6rem;
	}
	@include breakpoint(mobile, max) {
		//display: none;
	}
	&__first-line {
		display: flex;
		justify-content: space-around;
		align-items: center;
		width: 180px;
	}
	&__second-line {
		display: flex;
		justify-content: space-between;
		align-items: center;
		min-width: 320px;
	}
	&__link {
		cursor: pointer;
		display: block;
		color: $gray-900;
		text-decoration: none;
		&:hover {
			text-decoration: underline;
		}
	}
	&__instagram {
		width: 30px;
		height: 30px;
		background: url("../../img/insta-icon.svg") no-repeat center transparent;
		background-size: contain;
		cursor: pointer;
		display: block;
		text-indent: -100000px;
		color: transparent;
	}
	&__facebook {
		width: 30px;
		height: 30px;
		background: url("../../img/fb-con.svg") no-repeat center transparent;
		background-size: contain;
		cursor: pointer;
		display: block;
		text-indent: -100000px;
		color: transparent;
	}
	&__google {
		width: 30px;
		height: 30px;
		background: url("../../img/google-assistant.png") no-repeat center transparent;
		background-size: contain;
		cursor: pointer;
		display: block;
		text-indent: -100000px;
		color: transparent;
	}
}