.clouds {
  background: url("../../img/weather/clouds.svg") no-repeat center transparent;
  background-size: contain;
}
.partly-cloudy {
  background: url("../../img/weather/partly-sunny.svg") no-repeat center transparent;
  background-size: contain;
}
.partly-sunny {
  background: url("../../img/weather/partly-sunny.svg") no-repeat center transparent;
  background-size: contain;
}
.rain-and-snow {
  background: url("../../img/weather/rain-and-snow.svg") no-repeat center transparent;
  background-size: contain;
}
.showers {
  background: url("../../img/weather/showers.svg") no-repeat center transparent;
  background-size: contain;
}
.sunny {
  background: url("../../img/weather/sunny.svg") no-repeat center transparent;
  background-size: contain;
}
.thunderstorms {
  background: url("../../img/weather/thunderstorms.svg") no-repeat center transparent;
  background-size: contain;
}
